<h1>Mentorship Matchmaker</h1>

<h2>Featured Mentors</h2>
<div class="row">
    <% @mentors.each do |mentor| %>
        <div class="col-md-4">
            <% if mentor.image? %>  <!-- Check if the image exists -->
                <%= image_tag mentor.image.url %>  <!-- Display the image -->
            <% end %>
        <h3><%= mentor.name %></h3>
        <p><%= mentor.bio %></p>
        <p>Industry: <%= mentor.industry %></p>
        <p>Expertise: <%= mentor.expertise %></p>
        <%= link_to 'View Profile', mentor_path(mentor), class: 'btn btn-primary' %>
        </div>
    <% end %>
</div>

<h2>Featured Mentees</h2>
<div class="row">
    <% @mentees.each do |mentee| %>
        <div class="col-md-4">
            <% if mentee.image? %>  <!-- Check if the image exists -->
            <%= image_tag mentee.image.url %>  <!-- Display the image -->
        <% end %>
        <h3><%= mentee.name %></h3>
        <p><%= mentee.bio %></p>
        <p>Area of Interest: <%= mentee.areas_of_interest %></p>
        <p>Challenges: <%= mentee.challenges %></p>
        <%= link_to 'View Profile', mentee_path(mentee), class: 'btn btn-primary' %>
        </div>
    <% end %>
</div>
