<%= form_with(model: mentee) do |form| %>
  <% if mentee.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(mentee.errors.count, "error") %> prohibited this mentee from being saved:</h2>

      <ul>
        <% mentee.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :bio, style: "display: block" %>
    <%= form.text_area :bio %>
  </div>

  <div>
    <%= form.label :areas_of_interest, style: "display: block" %>
    <%= form.text_area :areas_of_interest %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
