<div id="<%= dom_id mentee %>">
  <p>
    <strong>Name:</strong>
    <%= mentee.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= mentee.email %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= mentee.bio %>
  </p>

  <p>
    <strong>Areas of interest:</strong>
    <%= mentee.areas_of_interest %>
  </p>

</div>
