<div id="<%= dom_id mentee %>">
  <div id="<%= dom_id mentee %>">
    <% if mentee.image? %>  <!-- Check if the image exists -->
      <%= image_tag mentee.image.url %>  <!-- Display the image -->
    <% end %>
  </div>
  
  <p>
    <strong>Name:</strong>
    <%= mentee.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= mentee.email %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= mentee.bio %>
  </p>

  <p>
    <strong>Areas of interest:</strong>
    <%= mentee.areas_of_interest %>
  </p>

  <p>
    <strong>Challenges:</strong>
    <%= mentee.challenges %>
  </p>

</div>
