<%= app_form_with model: @mentor do |f| %>
  <% if mentor.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(mentor.errors.count, "error") %> prohibited this mentor from being saved:</h2>

      <ul>
        <% mentor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.input :name %>
  </div>

  <div>
    <%= f.input :email %>
  </div>

  <div>
    <%= f.label :bio %>
  </div>

  <div>
    <%= f.input :industry %>
  <div>
    
    <%= f.label :expertise, style: "display: block" %>
  </div>

  <div>
    <%= f.input :years_of_experience %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
