<div id="<%= dom_id mentor %>">

  <div id="<%= dom_id mentor %>">
    <% if mentor.image? %>  <!-- Check if the image exists -->
      <%= image_tag mentor.image.url %>  <!-- Display the image -->
    <% end %>
  </div>
  
  <p>
    <strong>Name:</strong>
    <%= mentor.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= mentor.email %>
  </p>

  <p>
    <strong>Expertise:</strong>
    <%= mentor.expertise %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= mentor.bio %>
  </p>

  <p>
    <strong>Industry:</strong>
    <%= mentor.industry %>
  </p>

  <p>
    <strong>Years of experience:</strong>
    <%= mentor.years_of_experience %>
  </p>

</div>
