<div id="<%= dom_id mentor %>">
  <p>
    <strong>Name:</strong>
    <%= mentor.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= mentor.email %>
  </p>

  <p>
    <strong>Expertise:</strong>
    <%= mentor.expertise %>
  </p>

  <p>
    <strong>Years of experience:</strong>
    <%= mentor.years_of_experience %>
  </p>

</div>
